body{
    background-color: #B7CADB;
    font-family: 'Open Sans', sans-serif;
}

.topbar{
    background-color: #F3E9DD;
    padding: 2.5px 10px;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-size:17px;
}

.form_styles{
    font-family: Helvetica,sans-serif;
    font-size: 17px;
    padding-left: 10px;
}

.container {
    position: relative;
    text-align: center;
    color: black;
}

.nyjc_text {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: Georgia, serif;
}

.boxed{
    margin: auto;
    width: 60%;
    border: 2px solid black;
    padding: 10px;
    background-color: white;
}

.container{
    position: relative;
}