<html>
    <head>
        <title>Add Activity</title>
        <link href="{{url_for('static', filename="add_style.css")}}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="topbar">
            <p style="padding-left:3px;"><a href="/">Home</a> >Add Activity</p>
        </div><br/>
        <form action="/construction" method="get" class="form_styles">
<!--             <label for="activity_name">Name of Club:</label>
            <input type="text" id="activity_name" name="club_name" value=""><br/><br/> -->
            <label for="activity_name">Name of Activity:</label>
            <input type="text" id="activity_name" name="Name" value=""><br/><br/>  
            <input style="background-color: #DAB88B; font-size: 17px;" type="submit" value="Submit">
        </form>
    </body>

</html>