<html>
    <head>
        <title>Add Club</title>
        <link href="{{url_for('static', filename="add_style.css")}}" rel="stylesheet" type="text/css">
    </head>

    <body class="text_change">
        <div class="topbar">
            <p style="padding-left:3px;"><a href="/">Home</a> >Add Club</p>
        </div><br/>
        <form action="" class="form_styles">
            <label for="club_name">Name of Club:</label>
            <input type="text" id="club_name" name="club_name" value=""><br/><br/>
            <label for="student_name">Student Name:</label>
            <input type="text" id="student_name" name="student_name" value=""><br/><br/>
            <label for="student_class">Student Class:</label>
            <input type="text" id="student_class" name="student_class" value=""><br/><br/>
            <input style="background-color: #DAB88B; font-size: 17px;" type="submit" value="Submit">
        </form>
    </body>

</html>