<html>
    <head>
        <title>Add CCA</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>

    <body class="text_change">
        <div class="topbar">
            <p style="padding-left:3px;"><a href="">Home</a> >CCA</p>
        </div><br/>
        <form class="form_styles">
            <label for="cca_name">Name of CCA:</label>
            <input type="text" id="cca_name" name="cca_name" value=""><br/><br/>
            <label for="student_name">Student Name:</label>
            <input type="text" id="student_name" name="student_name" value=""><br/><br/>
            <label for="student_class">Student Class:</label>
            <input type="text" id="student_class" name="student_class" value=""><br/><br/>
            <input style="background-color: #DAB88B; font-size: 17px;" type="submit" value="Submit">
        </form>
    </body>

</html>