<html>
    <head>
        <title>Edit Membership</title>
        <link href="{{url_for('static', filename="edit_style.css")}}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="topbar">
            <p style="padding-left:3px;"><a href="/">Home</a> >Edit Membership</p>
        </div><br/>

        <form class="form_styles">
            <label for="student">Student name:</label>
            <input style="font-size:17px;"
                type="text"
                id="student"
                name="student_name"
                value=""></br>
            <input  style="background-color: #DAB88B; font-size: 17px;" type="submit" value="Search">
        </form>
        
        <form class="form_styles">
            <label for="student">Student name:</label>
            <input style="font-size:17px;"
                type="text"
                id="student"
                name="student_name"
                value="{{student_name}}">
             <br/>
    
            <input style="background-color: #DAB88B; font-size: 17px;" type="submit" value="Submit">
            <p>*Note: Enter an empty form to delete</p>
            
            </form>
       
    </body>
</html>