<html class="home_html">
    <head>
        <title>Home</title>
        <link href="style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Add</a>
                <ul>
                    <li><a href="">Add CCA</a></li>
                    <li><a href="">Add Activity</a></li>
                </ul>
                </li>
                <li><a href="">View</a>
                <ul>
                    <li><a href="">View Student</a></li>
                    <li><a href="">View CCA</a></li>
                    <li><a href="">View Activity</a></li>
                </ul>
                <li><a href="">Edit</a>
                <ul>
                    <li><a href="">Edit Membership</a></li>
                    <li><a href="">Edit Participation</a></li>
                </ul>   
                </li>
                <li><a href="">Profile</a></li>
                <div class="right_sign">
                    <li ><a href="">Sign In</a></li>
                </div>
            </ul>
            
        </nav>

        <div class="bg-text">
            <h1>NYJC CCA Manager</h1>
            <p>Easily manage CCAs and more!</p>
        </div>
        
    </body>

    
</html>