<html>
    <head>
        <title>View Student</title>
        <link href="add_style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="topbar">
            <p style="padding-left:3px;"><a href="">Home</a> >View Student</p>
        </div><br/>

         <form class="form_styles">
            <label for="student_name">Enter Student Name:</label>
            <input type="text" id="student_name" name="student_name" value=""><br/><br/>
             <input type="submit" value="Search">
         </form>
    </body>
    
</html>
