<html>
    <head>
        <title>View Student</title>
        <link href="{{url_for('static', filename="add_style.css")}}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="topbar">
            <p style="padding-left:3px;"><a href="/">Home</a> >View Student</p>
        </div><br/>

        
         <form action="/view/student?view" method="post" class="form_styles">
            <label for="student_name">Enter Student Name:</label>
            <input type="text" id="student_name" name="student_name" value=""><br/><br/>
             <input style="background-color: #DAB88B; font-size: 17px;" type="submit" value="Submit">
         </form>

        {%if page_type=="new":%}
        <p style="padding-left: 10px; font-size:20px;">Students:</p>

        <table style="padding-left:10px; border-collapse: collapse; width: 100%;">
            <tr>
                <th style="padding:8px; border: 2px solid black;">Student Name</th>
                <th style="padding:8px; border: 2px solid black;">Student Class</th>
                <th style="padding:8px; border: 2px solid black;">Year enrolled</th>
                <th style="padding:8px; border: 2px solid black;">Student Club(s)</th>
                <th style="padding:8px; border: 2px solid black;">Student Activity(s)</th>
            </tr>  

            {% for name in view_records %}
            <tr>
                <td style="padding:8px; border:2px solid black;">{{name[1]}}</td>
                {%if name[5]==1:%}
                <td style="padding:8px; border:2px solid black;">2113</td>
                {%else:%}
                <td style="padding:8px; border:2px solid black;">2128</td>
                {%endif%}
                <td style="padding:8px; border:2px solid black;">{{name[3]}}</td>
            </tr>
            {%endfor%}
        </table>
        {%endif%}

        {%if page_type == "confirm":%}
            <p style="padding-left: 10px; font-size:20px;">Results:</p>

            <table style="padding-left:10px; border-collapse: collapse; width: 100%;">
            <tr>
                <th style="padding:8px; border: 2px solid black;">Student Name</th>
                <th style="padding:8px; border: 2px solid black;">Student Class</th>
                <th style="padding:8px; border: 2px solid black;">Year enrolled</th>
                <th style="padding:8px; border: 2px solid black;">Student Club(s)</th>
                <th style="padding:8px; border: 2px solid black;">Student Activity(s)</th>
            </tr>  

            {%for student in view_records:%}
            <tr>
                <td style="padding:8px; border:2px solid black;">{{student[1]}}</td>
                {%if student[5]==1:%}
                <td style="padding:8px; border:2px solid black;">2113</td>
                {%else:%}
                <td style="padding:8px; border:2px solid black;">2128</td>
                {%endif%}
                <td style="padding:8px; border:2px solid black;">{{student[3]}}</td>
                
            </tr>
            {%endfor%}
        {%endif%}
        

        
    </body>
    
</html>
