<html>
    <head>
        <title>View Club</title>
        <link href="{{url_for('static', filename="add_style.css")}}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="topbar">
            <p style="padding-left:3px;"><a href="/">Home</a> >View Club</p>
        </div><br/>

         <form class="form_styles" action="/view/club?view" method="post">
            <label for="club">Enter Club Name To View For:</label>
            <input type="text" id="club" name="Name" value="">
             <input style="background-color: #DAB88B; font-size:15px;" type="submit" value="Search">
         </form>

        <table style="padding-left:10px; border-collapse: collapse; width: 100%;">
            <tr>
                <th style="padding:8px; border: 2px solid black;">Club Name</th>
                <th style="padding:8px; border: 2px solid black;">Activity(s)</th>
            </tr>  

            {% for record in view_records %}
            <tr>
                <td style="padding:8px; border:2px solid black;">{{record[1]}}</td>
                <td style="padding:8px; border:2px solid black;"></td>
            </tr>
            {%endfor%}
        </table><br/> 

        <form class="form_styles" action="/edit/membership" method="post">
        <label for="add">Enter Club Name To Add Student:</label>
        <input type="text" id="add" name="Name" value=""><br/>
        <input style="background-color: #DAB88B; font-size:15px;" type="submit" value="Add Student">
        </form>
        
    </body>
</html>
