<html>
    <head>
        <title>Edit Membership</title>
        <link href="{{url_for('static', filename="edit_style.css")}}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div class="topbar">
            <p style="padding-left:3px;"><a href="/">Home</a> >Edit Membership</p>
        </div><br/>

        {% if page_type == "new": %}
            <form class="form_styles">
                <label for = "name">Enter Club Name:</label>
                <input style="font-size:17px;"
                    type="text" 
                    id="name" 
                    name="club_name">
                <br/>
                <input style="background-color: #DAB88B; font-size: 17px;" type="submit" value="Submit">
        {% endif %}

        {% if page_type == "confirm:" %}
            <table style="padding-left:10px; border-collapse: collapse; width: 100%;">
                <tr>
                    <th class="tablestyle">Student name</th>
                </tr>
                <tr>
                    <td class="tablestyle">{{student_name}}</td>
                </tr>
                
            </table>
        {% endif %}

        
        <!--
        <form class="form_styles">
            <label for="opts">Choose what to edit:</label>
            <select  style="font-size:17px;" id="opts" name="edit_option">
                <option value="name">Student in club</option>
                <option value="club">Clubs students are in</option>
            </select>
            <br/><br/>
            
            
            <label for="old_data">Name:</label>
            <input style="font-size:17px;"
                type="text"
                id="old_data"
                name="old_data"
            >
             <br/><br/>

            <label for="new_data">New data:</label>
            <input style="font-size:17px;"
                type="text"
                id="new_data"
                name="new_data"
            >
             <br/>
    
            <input style="background-color: #DAB88B; font-size: 17px;" type="submit" value="Submit">
            <p>*Note: Return to "View" to see data</p>
            
            </form>
            -->
    </body>
</html>